* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  top: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  height: 40px;

  width: 80vw;
  margin: 0 auto;
  margin-top: 5px;
}

nav input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fdfdfd;
  box-shadow: 1px 1px 5px #ddd;
}

.title-area {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ddd;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.title-area span {
  flex-grow: 1;
}

.search-results {
  width: 80vw;
  max-height: 50vh;
  overflow: auto;
  transform: translate(-50%);
  left: 50%;
  margin-top: -1px;
  border-top: 1px solid #ddd;

  padding: 10px;
  z-index: 2;
  position: absolute;
  background-color: #fff;
}

.search-results ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.map {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
}

.button-geolocation {
  position: fixed;
  z-index: 2;
  bottom: 10px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: #222;
  font-size: 14px;
  background-color: #f0b7a4;
  cursor: pointer;
  right: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
